# Arquivos de objetos e binários C/C++
*.o
*.a
*.so
*.elf
*.bin

# Imagens de disco, Kernel e ISO (exceto o bzImage necessário para build)
*.iso
*.img
*.qcow2
*.vdi
*.raw
*.cpio
*.cpio.gz
# bzImage  <-- Removido daqui para permitir o push
vmlinux
System.map

# Diretórios gerais de compilação e artefatos de saída
build/
out/
dist/

# Rust / Cargo (rare-engine)
rare-engine/target/
rare-engine/**/*.rs.bk

# Arquivos de log e temporários do sistema
*.log
*.tmp
*.bak
*~

# IDEs e configurações do sistema operacional
.DS_Store
.vscode/
.idea/
*.swp
